<meta charset="UTF-8">
<title><%- `${world.title} | ${title}` %></title>

<!-- CSS (load bootstrap from a CDN) -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >
<link rel="stylesheet" type="text/css" href="styles.css" >
<style>
</style>